PORT=8000
DATABASE_URL="postgresql://user:password@localhost:5432/db?schema=public"
NODE_ENV=development

JWT_SECRET=thisisasamplesecret
JWT_ACCESS_EXPIRATION_MINUTES=30
JWT_REFRESH_EXPIRATION_DAYS=30

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=
SMTP_PASSWORD=
EMAIL_FROM=

BACKEND_IP=127.0.0.1
IMAGE_UPLOAD_BACKEND_DOMAIN=http://localhost:8000

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

STORAGE_MODE=local
S3_ACCESS_KEY=
S3_SECRET_KEY=
S3_BUCKET_NAME=
S3_REGION=
S3_ENDPOINT=

STRIPE_WEBHOOK_SECRET=
STRIPE_SECRET_KEY=
STRIPE_SUCCESS_URL=
STRIPE_CANCEL_URL=
